@font-face {
  font-family: "Dogica";
  src: url("../assets/fonts/dogica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Aplica Dogica como fuente global */
html,
body {
  font-family: "Dogica", Arial, sans-serif;
}
